# Service to load and execute the boobbot timer

[Unit]
Description=Posts a boob joke to fedi
Wants=boobjob.timer

[Service]
Type=oneshot
ExecStart=SOURCE/bin/boobbot
WorkingDirectory=SOURCE/rt
EnvironmentFile=SOURCE/rt/.env

[Install]
WantedBy=multi-user.target
